<!-- DETAILS WHEN THE GAME NAME IS CLICKED -->
<br>
<p><img src={{game.image}} alt={{game.name}}></p>
<div class="detail">{{game.details}}</div>
<h2> Reviews </h2>
<ul>
  {{#each game.reviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
</ul>
