
<li class="well">
<!-- Making every game name a clickable link -->
  <ul><h4>{{game.name}}</h4></ul>


<!-- Image on every game -->
  <p><span class="picture">{{#link-to 'game' game.id}}<img src={{game.image}} alt={{game.name}}>{{/link-to}}</span></p>

  <ul>{{game.console}}</ul>
</li>
