.jumbotron {
  text-align: center;
  background-color: maroon;
  color:black;
}
.overall {
  background-color: black;
}
h4 {
  color: maroon;
  font-size: 40px;
  font-family: cursive;
  text-align: center;
  padding-right: 20px;
}
.picture{
  padding-left: 10px;
}
.picture:hover {
  opacity: 0.5;
}
.nav nav-pills {
  background-color: black;
}
h1 {
  font-family: fantasy;
  font-size: 50px;
}
p {
  font-size: 20px;
  color: black;
}
.detail {
  color: black;
  font-family: cursive;
  font-size: 20px;
}
li {
  font-size: 20px;

}
