{{outlet}}
<!-- NAVBAR -->
<ul class="nav nav-pills nav-justified">
  <li role="presentation"><a href=".">Home</a></li>
  <li role="presentation"><a href="contact">Contact</a></li>
  <li role="presentation"><a href="about">About</a></li>
</ul>

<ul>
  {{#each model.games as |game|}}
      {{game-popularity game}}{{game-tile game=game}}
  {{/each}}

</ul>
